body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}
.login-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}
.login-container p {
    font-weight: 400px;
    font-size: 18.28px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 15px;
    text-align: left;
}
.input-group input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.login-btn {
    width: 100%;
    background: #4F46E5;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: -10px;
}

.footer{
    margin-top: -15px;
    justify-content: center;
    text-align: center;
    display: flex;
}

a{
    text-decoration: none;
    color: #4F46E5;
}
